.create-post {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-post h2 {
    text-align: center;
}

.create-post form {
    display: flex;
    flex-direction: column;
}

.create-post form div {
    margin-bottom: 15px;
}

.create-post form label {
    display: block;
    margin-bottom: 5px;
}

.create-post form input[type="file"],
.create-post form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-post form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.create-post form button:hover {
    background-color: darkblue;
}