.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dimmed backdrop */
  backdrop-filter: blur(5px); /* Blurring effect for the backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's above other content */
}

.modal-content {
  background: var(--background-color, #ffffff);
  color: var(--text-color, #000000);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 1001; /* Above the backdrop */
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adding a subtle shadow for depth */
  overflow-y: auto; /* Enables scrolling for long content */
}

.modal-content img {
  max-width: 100%; /* Ensure the image is not wider than the modal */
  max-height: 500px; /* Adjust the height to your preference */
  margin: 0 auto 20px; /* Center the image and add space below */
}

.close-button {
  position: absolute;
  top: -10px; /* Increase distance from the top */
  right: -10px; /* Increase distance from the right */
  background-color: #ff4545; /* Red background for visibility */
  color: white; /* White text color */
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


/* Styles for the list inside the modal */
.modal-content ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  width: 100%; /* Full width of modal content */
}

.modal-content ul li {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.modal-content ul li:hover {
  background-color: #f2f2f2; /* Light grey background on hover */
}

/* Dark mode styles */
[data-theme="dark"] {
  --background-color: #222; /* Dark background color for modal */
  --text-color: #ccc; /* Light text color for content */
}

[data-theme="dark"] .modal-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow for depth in dark mode */
}

[data-theme="dark"] .modal-content ul li:hover {
  background-color: #333; /* Darker grey background on hover in dark mode */
}

[data-theme="dark"] .close-button {
  background-color: #e60000; /* Darker red background for close button in dark mode */
}