.baseball-field {
    position: relative;
}

.baseball-field img {
    width: 100%;
    height: auto;
}

.button-template {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 5vh;
    font-size: 1vw;
}

.third-base {
    top: 62%;
    left: 32%;
}

.second-base {
    top: 40%;
    left: 49.3%;
}

.first-base {
    top: 62%;
    left: 68%;
}

.third-base-player {
    top: 67%;
    left: 32%;
}

.second-base-player {
    top: 45%;
    left: 49.3%;
}

.first-base-player {
    top: 67%;
    left: 68%;
}

/* Correcting the media query to target the right class */
@media (max-width: 768px) {
    .button-template { /* This should match the class used in your JSX */
        min-width: 50px;
        min-height: 30px;
        font-size: 2vw; /* Adjust if necessary for text size */
    }
}
