.messages-page {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  height: 80vh; /* Adjust based on your preference */
}

.conversations-list {
  flex: 1;
  margin-right: 20px;
  overflow-y: auto; /* Scrollable list */
}

.conversation-summary {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.conversation-summary:hover {
  background-color: #f0f0f0;
}

.conversations-header {
  text-align: left;
  margin-bottom: 10px;
}

.current-conversation {
  flex: 3;
  padding: 10px;
  overflow-y: auto; /* For scrolling through messages */
}

.current-conversation-header {
  text-align: center;
  margin-bottom: 10px;
}

.messages-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}

  
  h2, h3 {
    color: #333;
  }
  
  .user-summary {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .user-summary:hover {
    background-color: #f5f5f5;
  }
  
  .user-summary.selected {
    background-color: #e0e0e0;
    font-weight: bold;
  }
  
  .message-input-container {
    display: flex;
    margin-top: 20px;
}

.message-input-container input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.message-input-container button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.message-input-container button:hover {
    background-color: #0056b3;
}
