.App {
  text-align: center;
  background-color: #1e1e1e; /* Dark background for the whole app */
  color: white; /* Light text for better contrast */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 20vmin; /* Adjust the size of your image */
  margin-bottom: 20px; /* Spacing below the image */
}

/* Button styling */
button {
  background-color: #d10000; /* Red background for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a80000; /* Darker red on hover */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
